<div>
  <ul class='list-group col-md-2 MuscleList-list'>
    <li>
      <button type='button' value='Chest' class='btn btn-default' (click)='handleListClicked($event.target.innerText)'>Chest</button>
    </li>
    <li>
      <button type='button' class='btn btn-default' (click)='handleListClicked($event.target.innerText)'>Shoulders</button>
    </li>
    <li>
      <button type='button' class='btn btn-default' (click)='handleListClicked($event.target.innerText)'>Traps</button>
    </li>
  </ul>
  <ul class='list-group col-md-2 MuscleList-list'>
    <li>
      <button type='button' class='btn btn-default' (click)='handleListClicked($event.target.innerText)'>Quadriceps</button>
    </li>
    <li>
      <button type='button' class='btn btn-default' (click)='handleListClicked($event.target.innerText)'>Lats</button>
    </li>
    <li>
      <button type='button' class='btn btn-default' (click)='handleListClicked($event.target.innerText)'>Triceps</button>
    </li>
  </ul>
  <ul class='list-group col-md-2 MuscleList-list'>
    <li>
      <button type='button' class='btn btn-default' (click)='handleListClicked($event.target.innerText)'>Abdominals</button>
    </li>
    <li>
      <button type='button' class='btn btn-default' (click)='handleListClicked($event.target.innerText)'>Abductors</button>
    </li>
    <li>
      <button type='button' class='btn btn-default' (click)='handleListClicked($event.target.innerText)'>Lower Back</button>
    </li>
  </ul>
  <ul class='list-group col-md-2 MuscleList-list'>
    <li>
      <button type='button' class='btn btn-default' (click)='handleListClicked($event.target.innerText)'>Adductors</button>
    </li>
    <li>
      <button type='button' class='btn btn-default' (click)='handleListClicked($event.target.innerText)'>Mid Back</button>
    </li>
    <li>
      <button type='button' class='btn btn-default' (click)='handleListClicked($event.target.innerText)'>Biceps</button>
    </li>
  </ul>
  <ul class='list-group col-md-2 MuscleList-list'>
    <li>
      <button type='button' class='btn btn-default' (click)='handleListClicked($event.target.innerText)'>Neck</button>
    </li>
    <li>
      <button type='button' class='btn btn-default' (click)='handleListClicked($event.target.innerText)'>Calves</button>
    </li>
    <li>
      <button type='button' class='btn btn-default' (click)='handleListClicked($event.target.innerText)'>Forearms</button>
    </li>
  </ul>
  <ul class='list-group col-md-2 MuscleList-list'>
    <li>
      <button type='button' class='btn btn-default' (click)='handleListClicked($event.target.innerText)'>Glutes</button>
    </li>
    <li>
      <button type='button' class='btn btn-default' (click)='handleListClicked($event.target.innerText)'>Hamstrings</button>
    </li>
    <li>
      <button type='button' class='btn btn-default'>Weather</button>
    </li>
  </ul>
</div>
